<h3 style="margin:20px 0 5px;">{{ with .context.pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .context.title }}{{ with .context.pdflink }}</a>{{ end }}</h3>

{{ with .context.coauthors }}<p style="margin:0 0 5px;">(with {{ . }}{{ if $.context.first_author }}; <span style="color: #666;">Papp first author</span>{{ end }})</p>{{ end }}

{{ with .context.note }}<p style="margin:0 0 5px;">{{ . }}</p>{{ end }}
{{ if .context.journal }}
    <p style="margin:0 0 5px;">
    {{- if eq (len .context.status) 4 -}}
        <em><u>{{ .context.journal }}</u></em> ({{ .context.status }})
    {{- else -}}
        {{ .context.status }} <em><u>{{ .context.journal }}</u></em>
    {{- end -}}
    </p>
{{ else }}
    {{ with .context.book }}<p style="margin:0 0 5px;"><em>{{ . }}</em></p>{{ end }}
{{ end }}
{{ $pid := .pid }}
{{ with .context.abstract }}<p style="margin:0 0 5px;"><a href="javascript:toggle({{ $pid }})">Abstract<span id="pubabslink_{{ $pid }}"> (click to expand)</span></a><span id="pubabs_{{ $pid }}" style="display:none;">: {{ . }}</span></p>{{ end }}

{{ with .context.links }}
{{ range . }}
<p style="margin:0 0 5px;"><a href="{{ .url }}" target="blank">{{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}</li>
{{ end }}
{{ end }}

{{ with .context.press_coverage }}
<p style="font-size: 0.7em; margin-top: 5px;"><strong>Selected Coverage:</strong>
{{ $length := len . }}
{{ range $index, $element := . }}
<a href="{{ .url }}" target="blank" style="color: #a45851;">{{ .title }}</a>{{ if ne (add $index 1) $length }}, {{ end }}
{{ end }}
</p>
{{ end }}
